main {
    color: green;
    margin: -8px;
}

.header {
    margin-top: -21px;
    background-color: black;
    height: 1080px;
    width: 1920px;
}

.heading-box {
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    font-size: 100px;
    display: block;
}

.heading-sub {
    font-size: 50px;
    display: block;
}