.header {
    height: 89.3vh;
    margin: -8px;
    margin-top: 8px;
    background-image: linear-gradient(
        to right, 
        rgb(219, 177, 136), 
        rgb(195, 105, 81));

    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.title-box {
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;

    transform: translate(-50%);
    left: 50%;

    background-color: rgb(189, 183, 107);

    font-size: 25pt;
    color: rgb(134, 6, 1);
}

.monkey-image-box {
    position: absolute;

    left: 20%;
    top: 50%;

    transform: translate(-25%, -50%);
}

.goose-image-box {
    position: absolute;

    left: 65%;
    top: 37%;

    transform: translate(-25%, -50%);
}

.monkey-image {
    padding: 10px;
    border: dotted 7px;

    width: 25vw;
}

.goose-image {
    padding: 10px;
    border: dotted 7px;

    width: 20vw;
}

.image-text-box {
    float: right;
    margin-left: 25px;

    border: dotted 7px;
    width: 125px;
    padding: 16px;

    background-color: rgba(88, 98, 208, 0.589);
}

.image-text {
    font-size: 11px;
    color: rgb(0, 21, 181);
}