#brand {
    text-decoration: none;
    color: #000;
    background-color: white;

    border-radius: 1.1em;
    border-color: #000;
    border-style: solid;
    border-width: 0.1em;
    box-shadow: 0.25em 0.25em;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 7em;
    height: 3.5em;
}

#logo {
    width: 30%;
}

#brand:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-button {
    text-decoration: none;
    color: #000;

    margin-left: 5%;
    padding: 0.5em 1em !important;

    border-radius: 1em;
}

.navbar-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000;
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
    color: rgb(255, 0, 0);
}