
.main-header {
    position: relative;
    background-color: white; 
    font-family: sans-serif;
    margin: -8px;
}

.logo {
    margin: 8px 8px 0px 8px;
    border-radius: 20px;
    border: 2px solid #000;
    padding: 2px; 
    box-shadow: 5px 5px #000;
    display: inline-block; 
    vertical-align: middle;
    color:#000;
    text-decoration: none;
}

.logo-image {
    vertical-align: middle; 
    height: 35px;
    padding: 8px 0px;
}

.logo-text {
    display: inline-block; 
    margin-right: 7px;
    font-family: Arial;
}

.nav-bar-button {
    border: none;
    background-color: #efefef;
    display: inline-block;

    font-family: sans-serif;
    text-decoration: none;
    color: #666;
    font-weight: bold;

    border-radius: 20px;
    padding: 4px 16px;
    margin: 16px 2px 4px 2px;

    text-align: center;
    vertical-align: middle;
    
    cursor: pointer;
    width: auto;
    height: 20px;
}

.logo:hover {background-color: lightgray;}

.nav-bar-button:hover {background-color: lightgray; color: #000}