/* Navbar */
#brand {
    text-decoration: none;
    color: #000;
    background-color: white;

    border-radius: 1.1em;
    border-color: #000;
    border-style: solid;
    border-width: 0.1em;
    box-shadow: 0.25em 0.25em;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 7em;
    height: 3.5em;
}

#logo {
    width: 30%;
}

#brand:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-button {
    text-decoration: none;
    color: #000;

    padding: 0.5em 1em !important;

    border-radius: 1em;
}

.navbar-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000;
}

/* Main */
body {
    background-color: white;
}

main {
    margin: auto;
    margin-top: 30vh;
    margin-bottom: 5em;
    font-size: 18px;
}

/* Footer */
footer {
    background-color: #424242;
    padding-top: 10px;
    padding-bottom: 10px;
}

.media-link-container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    gap: 35px;
}

.media-link {
    color:white;
    text-decoration: none;
}

.media-link-icon {
    color: #424242;
}

.media-link:hover{
    color:rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.media-link-icon:hover{
    color:rgba(0, 0, 0, 0.7);
}

.dot {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot:hover {
    background-color:rgba(255, 255, 255, 0.7);
}

@media (max-width: 767.98px) {
    h1 {
        text-align: center;
        font-size: 21px;
    }

    h2 {
        font-size: 18px;
        font-weight: 200;
    }

    .navbar-button {
        margin: auto;
        margin-top: 10px;
    }
}

@media (min-width: 768px){
    h1 {
        text-align: center;
        font-size: 32px;
    }

    h2 {
        font-size: 27px;
        font-weight: 400;
    }

    .navbar-button {
        margin-left: 5%;
    }
}