html {
    scroll-behavior: smooth;
    scroll-padding-top: 107px;
}

/* Navbar */
#brand {
    text-decoration: none;
    color: #000;
    background-color: white;

    border-radius: 1.1em;
    border-color: #000;
    border-style: solid;
    border-width: 0.1em;
    box-shadow: 0.25em 0.25em;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 7em;
    height: 3.5em;
}

#logo {
    width: 30%;
}

#brand:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-button {
    text-decoration: none;
    color: #000;

    padding: 0.5em 1em !important;

    border-radius: 1em;
}

.navbar-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000;
}

/* Main */
body {
    background-color: white;
}

.main-content {
    margin: auto;
    margin-top: 30vh;
    margin-bottom: 5em;
    font-size: 18px;
}

/* Sidebar */

#sidebar {
    position: sticky;
    margin-top: 30vh;
    top: 15vh;
}

#sidebar li {
    max-height: 65vh;
    overflow-y: auto;
}

#sidebar ul {
    margin-bottom: 0px;
}

/* Footer */
footer {
    background-color: #424242;
    padding-top: 50px;
    padding-bottom: 50px;

    justify-content: center;
}

.links {
    display: flex;
    margin: 0 auto;
    color:white; 
    list-style: none; 
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
}

.links h2 {
    font-size: 18px;
    margin-bottom: 1em;
}

.links a {
    font-size: 14px;
    color: #c0c0c0;
}

.links a:hover {
    color: #fff;
}

.media-link-container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    gap: 35px;
}

footer a {
    color:white;
    text-decoration: none;
}

.media-link-icon {
    color: #424242;
}

footer a:hover{
    color:rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.media-link-icon:hover {
    color:rgba(0, 0, 0, 0.7);
}

.media-link-icon:hover > .dot { background-color:rgba(255, 255, 255, 0.5); }

.dot {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767.98px) {
    h1 {
        text-align: center;
        font-size: 21px;
    }

    h2 {
        font-size: 18px;
        font-weight: 200;
    }

    /* Header */

    .navbar-button {
        margin: auto;
        margin-top: 10px;
    }

    /* End Header */

    /* Main */

    .main-content {
        margin-top: 5vh;
    }

    /* End Main */

    /* Sidebar */

    #sidebar {
        margin-top: 15vh;
    }

    /* End Footer */

    /* Footer */

    .link-container {
        flex-direction: column;
    }

    .links h2 {
        margin: 25px auto 10px auto;
    }

    .links a {
        margin: auto;
    }

    /* End Footer */
}

@media (min-width: 768px) {
    h1 {
        text-align: center;
        font-size: 32px;
    }

    h2 {
        font-size: 27px;
        font-weight: 400;
    }

    /* Header */

    .navbar-button {
        margin-left: 5%;
    }

    /* End Header */
}