body {
    height: 100%;
    margin: 0;
    background-image: url(/yatzy/images/bg4K.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    margin-top: 7.5vh;
}

#player-container {
    margin-top: 10vh;
}

.text {
    color: #fff;
    text-shadow: 1px 1px 0 #000,
                -1px 1px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000;;
}

.dice-container {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    gap: 5%;
}

.dice {
    border: 1px #000 solid;
    height: 100px;
    border-radius: 15%;
}

.dice:hover {
    filter: brightness(80%);
}

.dice-checkbox {
    display: none;
}

.dice-checkbox:checked + label > img {
    filter:brightness(65%)
}

#button-container {
    display: flex;
    justify-content: center;
}

#roll-button {
    margin-top: 10vh;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #fff;
}

#roll-button:disabled {
    background-color: #bbbbbb;
    color: black;
}