html {
    scroll-behavior: smooth;
    scroll-padding-top: 107px;
}

body {
    height: 100%;
    margin: 0;
    background-image: url(/yatzy/images/bg4K.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    margin-top: 7.5vh;
}

#player-container {
    margin-top: 10vh;
}

.text {
    color: #fff;
    text-shadow: 1px 1px 0 #000,
                -1px 1px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000;;
}

.dice-container {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    width: 100%;
    gap: 5%;
    flex-wrap: wrap;
}

.dice {
    border: 1px #000 solid;
    height: 100px;
    border-radius: 15%;
}

.dice:hover {
    filter: brightness(80%);
}

.dice-checkbox {
    display: none;
}

.dice-checkbox:checked + label > img {
    filter:brightness(65%)
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.roll-button {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.roll-button button{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    background-color: #ff2b2b;
    display: block;
    position: relative;
    padding: 20px 40px;
    
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    box-shadow:inset 0 1px 0 #ffc4c4, 0 10px 0 #910000;
    
    border-radius: 5px;
    border: none;
}

.roll-button button:disabled{
    top: 10px;
    background-color: #ff1b1b;
    filter: brightness(85%);

    box-shadow: inset 0 1px 0 #ffc4c4, inset 0 -3px 0 #910000;
}

.roll-button:after{
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px 4px 4px 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #2b0000;
    border-radius: 7.5px;
    box-sizing: content-box;
}