body {
    margin: 0px;
}

header {
    position: fixed;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 107px;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Arbutus Slab';
    src: url(https://fonts.googleapis.com/css?family=Arbutus%20Slab);
    color: #000;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    font-family: 'Arbutus Slab';
    src: url(https://fonts.googleapis.com/css?family=Arbutus%20Slab);
    font-size: 40px;
    font-weight: 400;
}

h3 {
    font-family: "IBM Plex Sans";
    src: url(https://fonts.cdnfonts.com/css/ibm-plex-sans);
    font-size: 25px;
    font-weight: bold;
    align-self: self-start;
    margin: 0px;
}

p {
    font-family: "IBM Plex Sans";
    src: url(https://fonts.cdnfonts.com/css/ibm-plex-sans);
    font-size: 20px;
    font-weight: 400;
}

main {
    transform: translateY(107px);
}

.logo-text {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.logo {
    display: inline-block;
    border: solid;
    border-radius: 15px;
    border-color: black;
    height: 77px;
    width: 163px;
    margin: 11px;
    margin-right: 34px;

    text-align: center;
    line-height: 70px;
}

.header-link {
    font-family: "IBM Plex Sans";
    src: url(https://fonts.cdnfonts.com/css/ibm-plex-sans);
    font-size: 20px;
    padding: 28px;
    transform: translateY(50%);
}

.carousel-heading {
    position: relative;
    margin-top: -3%;
    margin-left: 10%;
}

.carousel-container {
    margin-top: 63px;
    justify-content: center;
    display: flex;
}

.carousel-text {
    display: inline-block;
    position: relative;
    width: 303px;
    height: 316px;
}

.carousel-background {
    background-color: #d9d9d9; 
    position: relative; 
    display: inline-block; 
    height: 370px; 
    width: 950px;
    border-radius: 15px;
}

.carousel-container-fr {
    width: 824px;
    height: 290px;
    margin-top: 44px;
    margin-left: 64px;
    overflow-x: auto;
    display: flex;
    gap: 52px;
    align-items: start;
    scroll-snap-type: x mandatory;
}

.carousel-container::-webkit-scrollbar {
    height: 14px;
    width: calc(100% - 48px);
}

.carousel-container::-webkit-scrollbar-track {
    background: #b1b3b399;
}

.carousel-container::-webkit-scrollbar-thumb {
    background: #29AB87;
}

.carousel-container::-webkit-scrollbar-track-piece:start {
    background: #29AB87;
}

.carousel-slide {
    border-radius: 15px;
    height: 270px;
    width: 240px;
    flex-flow: column nowrap;
    align-items: center;
    scroll-snap-align: center;
}

.slide-image-container {
    height: 170px;
    width: 240px;
    border-radius: 15px;
    display: inline-block;
    align-self: flex-start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.slide-image {
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.slide-text-p {
    align-self: flex-start;
    font-size: 20px;
    margin: 0px;
}

@media (max-width: 600px) {
    .carousel-slide {
        flex: 1 0 90%;
    }
}

#image-container {
    position: relative;
    overflow: hidden;
}

#skyline-background {
    width: 100%;
    height: auto;
    display: block;
}

#fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}
/* 
body {
    margin: 0;
    position: relative;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 64px;
} 
*/