p {
    font-family: sans-serif;
    font-size: 25;
}

body {
    background-color: black;
}

h1 {
    font-family: sans-serif;
    color:black;
}

.logo {
    border-radius: 20px;
    border: 2px solid #000000;
    padding: 2px; 
    width: 1; 
    height: 10; 
    box-shadow: 5px 5px #000000;
}

.nav-bar-button {
    border: none;
    display: inline-block;

    border-radius: 20px;
    padding: 1px 8px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    height: 20px;
}

.nav-bar-button:hover {background-color: lightgray;}